.header-unri {
  width: 100%;
  height: 5rem;
  background-color: #077d55;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-unri ul {
  margin-left: 60rem;
}
.header-unri ul li {
  list-style: none;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
.header-unri ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: large;
  font-weight: 500;
}

.navbar-unri {
  width: 100%;
  height: 5rem;
  background-color: #f7f7f7;
}

.navbar-unri ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 5rem;
  margin-right: 5rem;
}

.navbar-unri ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
}
.logo-container {
  width: 11rem;
  height: 11rem;
}
.logo-box {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  margin-top: -83px;
}

.logo-box img {
  width: 7rem;
  margin-bottom: 1rem;
}
